$debugger: 1px solid red;

.app__mobile {
    padding: 10px;
    display: none;
    padding-top: 50px;

    >div {
        width: 100px;
        height: 50px;
        margin: auto;
        color: #000;
        font-size: 30px;
        overflow: hidden;
        font-weight: 600;
        text-align: center;
    }

    >p {
        font-size: 16px;
        text-align: center;
    }

    @media(max-width: 1000px) {
        display: block;
    }
}

.app__desktop {
    display: block;

    @media(max-width: 1000px) {
        display: none;
    }
}

.auth {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/signin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    >.auth_container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        overflow: auto;

        >.auth_container_logo {

            padding-top: 50px;
            padding-left: 50px;

            >div {
                width: 100px;
                height: 50px;
                color: #fff;
                font-size: 30px;
                overflow: hidden;
                font-weight: 600;
            }
        }

        >.auth_container_box {
            padding: 50px 10px;

            >div {
                max-width: 600px;
                background-color: #fff;
                margin: auto;
                border-radius: 5px;
                padding: 20px 50px;

                >.auth_container_header {
                    text-align: center;

                    >span {
                        font-size: 20px;
                        font-weight: 600;
                        color: #000;
                    }

                    >p {
                        text-align: center;
                        font-size: 16px;
                        color: #000;
                        font-weight: normal;
                    }
                }

                >.auth_container_form {
                    margin-top: 30px;

                    >form {
                        >.auth_container_form__input {
                            max-width: 400px;
                            margin: 0 auto 20px auto;

                            >label {
                                text-align: center;
                                font-size: 13px;
                                color: #000;
                                font-weight: normal;
                            }

                            >input {
                                width: 100%;
                                height: 40px;
                                border: 1px solid #222;
                                outline: 0;
                                padding: 0 5px;
                                margin-top: 5px;
                                border-radius: 3px;
                            }
                        }

                        >.auth_container_form__button {
                            max-width: 400px;
                            margin: 0 auto 20px auto;

                            >button {
                                width: 100%;
                                height: 40px;
                                outline: 0;
                                margin-top: 5px;
                                border-radius: 3px;
                                background-color: #585598;
                                border: 1px solid #585598;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 600;
                                cursor: pointer;
                            }
                        }
                    }



                }
            }

        }
    }

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    padding: 0 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    >.header_logo {
        width: 100px;
        color: #585598;
        font-size: 30px;
        overflow: hidden;
        text-align: center;
        font-weight: 600;
    }

    >.header_profile {
        width: 130px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        >.header_notify {
            width: 50px;
            border-right: 1px solid #000;

            >img {
                width: 20px;
                cursor: pointer;
            }
        }

        >.header_avatar {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            position: relative;

            >.header_avatar__div {
                width: 40px;
                height: 40px;
                border-radius: 60px;
                background-color: #ddd;
                overflow: hidden;

                >img {
                    width: 100%;
                }

            }

            >.header_dropdown {
                position: absolute;
                top: 50px;
                left: -100px;
                width: 130px;
                background-color: #fff;
                box-shadow: 0 1px 5px #ccc;
                border-radius: 3px;
                display: none;

                >div {
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: #000;

                        >div {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;

                            .header_dropdown_img {
                                width: 20px;
                            }

                            >.header_dropdown_link {
                                font-size: 14px;
                                color: #000;
                                padding-left: 10px;
                            }
                        }

                    }
                }


            }

            &:hover>.header_dropdown {
                display: block;
            }


        }



    }




}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #585598;
    padding: 120px 20px 10px 20px;
    overflow: auto;

    >div {

        margin-bottom: 40px;
        cursor: pointer;

        >a {
            text-decoration: none;
            color: #fff;

            div {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                >.sidebar_logo {
                    width: 30px;
                    height: 30px;

                    >img {
                        width: 30px;
                        height: 30px;
                    }
                }

                >.sidebar_name {
                    width: calc(100% - 30px);
                    padding-left: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: #fff;
                    font-size: 16px;
                    position: relative;


                    >.sidebar_alert {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 30px;
                        width: 30px;
                        background-color: #e85a5a;
                        border-radius: 60px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        color: #fff;

                    }
                }


            }
        }



    }
}

.notify {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #fff;
    padding: 120px 20px 10px 20px;
    overflow: auto;

    >p {
        text-align: left;
        color: #000;
        font-weight: 600;
        font-size: 20px;
    }

    >div {

        >div {
            border: 1px solid #e85a5a;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 3px;
            cursor: pointer;
            margin-bottom: 20px;
            ;

            >span {
                font-size: 12px;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            >p {
                margin: 0;
                color: #ccc;
                font-size: 12px;
            }
        }
    }
}

.container {
    padding-top: 100px;
    padding-left: 270px;

    >div {
        >.container__nav {
            margin-bottom: 50px;

            >p {
                color: #000;
                text-align: left;
                font-size: 15px;
                font-weight: 600;
            }

        }

        >.container_card {
            margin-bottom: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            >div {
                width: 33.3333333%;
                padding: 10px;

                >.dash_card_user {
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    border-left: 7px solid #585598;
                    text-align: left;

                    >span {
                        color: #7d7d7d;
                        font-size: 16px;
                    }

                    >p {
                        color: #000;
                        font-weight: 600;
                        text-align: left;
                        font-size: 20px;
                    }

                }

                >.dash_card_clock {
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    border-left: 7px solid #6ee35b;

                    >span {
                        color: #7d7d7d;
                        font-size: 16px;
                    }

                    >p {
                        color: #000;
                        font-weight: 600;
                        text-align: left;
                        font-size: 20px;
                    }
                }

                >.dash_card_reject {
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    border-left: 7px solid #e85a5a;

                    >span {
                        color: #7d7d7d;
                        font-size: 16px;
                    }

                    >p {
                        color: #000;
                        font-weight: 600;
                        text-align: left;
                        font-size: 20px;
                    }
                }
            }
        }

        >.dash_table {
            margin-bottom: 50px;
            padding: 10px;

            >div {
                background-color: #fff;
                padding: 10px;


                >.dash_table_header {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;

                    >.dash_table_header_text {
                        width: 200px;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: left;
                    }

                    >.dash_table_header_link {
                        width: 100px;
                        text-align: right;
                        color: #585598;
                        font-size: 16px;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }

                >.dash_table_body {
                    margin-top: 30px;

                    >.dash_table_body__thead {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 20px;

                        >div:nth-child(1) {
                            width: 30%;
                        }

                        >div:nth-child(2) {
                            width: 20%;
                        }

                        >div:nth-child(3) {
                            width: 20%;
                        }

                        >div:nth-child(4) {
                            width: 20%;
                        }

                        >div:nth-child(5) {
                            width: 10%;
                        }

                        >div {
                            font-weight: 600;
                            text-align: center;
                        }
                    }

                    >.dash_table_body__tbody {

                        >div {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #ddd;

                            >div:nth-child(1) {
                                width: 30%;
                                padding: 0 20px;
                            }

                            >div:nth-child(2) {
                                width: 20%;
                            }

                            >div:nth-child(3) {
                                width: 20%;
                            }

                            >div:nth-child(4) {
                                width: 20%;
                            }

                            >div:nth-child(5) {
                                width: 10%;
                            }

                            >div {
                                padding: 20px 0;
                                font-weight: normal;
                                text-align: center;

                                >.dash_table_body__tbody_img {
                                    width: 30px;
                                    height: 30px;
                                    overflow: hidden;
                                    background-color: #ccc;
                                    border-radius: 60px;
                                    float: left;
                                }

                                >p {
                                    float: right;
                                    width: calc(100% - 30px);
                                    padding-left: 10px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }



                                >.dash_table_body__tbody_green {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 60px;
                                    background-color: #6ee35b;
                                    margin: auto;
                                }

                                >.dash_table_body__tbody_red {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 60px;
                                    background-color: #e85a5a;
                                    margin: auto;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}